.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
  }


  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #00a1b6; /* Dark Green */
    border-radius: 50%;
    width: 170px;
    height: 170px;
    animation: spinloader 2s linear infinite;
}
.loader img{
    height : 120px;
    width : 120px;
    animation: spinlogo 2s linear infinite;
}
@keyframes spinloader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes spinlogo {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}